<div style="display: flex;">
    <div class="mt-100 me-auto ms-auto pb-5" >
        <mat-card class="mat-elevation-z3">
            <mat-card-title class="text-center ps-3 pt-5 pe-3">Login To Your Account</mat-card-title>
    
            
                
    
            
        </mat-card>
    </div>
    <div class="mt-100 me-auto ms-auto pb-5" style="width: 500px;">
        <mat-card class="mat-elevation-z3">
            <mat-card-title class="text-center ps-3 pt-5 pe-3">Login To Your Account</mat-card-title>
    
            
                
    
            
        </mat-card>
    </div>
</div>